/Study/.vs/Study/v15/.suo
/Study/.vs/Study/v15/Server/sqlite3/db.lock
/Study/.vs/Study/v15/Server/sqlite3/storage.ide
/Study/.vs/Study/v15/Server/sqlite3/storage.ide-shm
/Study/.vs/Study/v15/Server/sqlite3/storage.ide-wal
/WindowsFormsApp1/obj/Debug/*.cache
/WindowsFormsApp1/.vs/WindowsFormsApp1/v15/*.suo
/WindowsFormsApp1/.vs/WindowsFormsApp1/v15/Server/sqlite3/*.lock
/WindowsFormsApp1/.vs/WindowsFormsApp1/v15/Server/sqlite3/*.ide
/WindowsFormsApp1/.vs/WindowsFormsApp1/v15/Server/sqlite3/*.ide-shm
/WindowsFormsApp1/.vs/WindowsFormsApp1/v15/Server/sqlite3/*.ide-wal
